
.logo img {
content:url(“logoresize.jpg”);

}

#jenkins-name-icon {
display: none;
}

.logo:after {
content: ‘Sample Project’;
font-weight: bold;
font-size: 40px;
font-family:”Brush Script MT”, cursive;
margin-left: 200px;
margin-right: 12px;
color: Aqua;
line-height: 40px;
}